.bio-page-wrapper {
	h1 {
		border-bottom: 5px solid $dark-scheme1;
		border-bottom-right-radius: 15%;
		margin-bottom: 2%;
		width: 20%;
		color: $dark-scheme1;
	}
	.bullets {
		font-size: 2rem;
		margin-bottom: 2%;
	}
	p {
		// width: 75%;
		font-size: 2.4rem;
		// text-indent: 20px;
	}
}
